<div class="row">
    <div class="col-12 text-center">
        <img src="/images/header.jpg" alt="Logbogen header" class="img-fluid mb-4" style="max-height: 320px; object-fit: cover; width: 100%; border-radius: 1rem;">
    </div>
</div>
<div class="row">
    <div class="col-lg-8 mx-auto text-center">
        <h1 class="display-4 mb-4">Velkommen til Logbogen</h1>
        <p class="lead mb-4">Din personlige logbog for alle dine aktiviteter</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/auth/login" class="btn btn-primary btn-lg px-4 gap-3">Log ind</a>
        </div>
    </div>
</div> 