{{ $user := .UserID }}
{{ $activity :=  .Activity }}

<li>
  <div class="userInfo">
    <div class="d-flex">

      <div class="flex-shrink-1">
        <div class="img_cont col col-auto ">
          <img src="/images/activities/{{$activity.Type.ID}}.svg" alt="{{$activity.Type}}" class="activity_icon_img">
        </div>
      </div>

      <div class="flex-grow-1 px-2">
        {{ if (is_same_user $user $activity.User.ID) }}
        <a href="/activities/{{ $activity.ID }}">
        {{ else }}
        <a href="/activities/clone/{{ $activity.ID }}">
        {{end}}

        {{ $activity.TypeStr }} nær {{ $activity.Location }}

        {{ if not (is_same_user $user $activity.User.ID) }}
        <!-- TODO get name of the user -->
        <br /> Oprettet af {{ $activity.User.Name }}
        {{end}}
        </a>

        <div class="d-flex justify-content-between">
          <div>
            <p class="text-muted small text-truncate">{{ fmtDateHuman $activity.Date }}</p>
            <p class="text-muted small text-truncate">{{ $activity.Role }}</p>
          </div>
          <div>

            {{ range (firstSix $activity.Participants) }}
            {{ template "users/profile_image_mini" . }}
            {{end}}
            <p class="text-muted small text-truncate d-inline">
              {{ if gt (len $activity.Participants) 6 }} and len($activity.Participants) - 6  more  {{end}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>