<li>
  <div class="d-flex align-content-start flex-row justify-content-between flex-wrap">
    <div class="user_info  p-2 flex-grow-1 row userInfo">
      <div class="img_cont col col-auto ">
        <img src="<%= assetPath("images/climbing/" + climbingactivity.Type + ".svg") %>" class="activity_icon_img">
      </div>

      <div class="user_cont col col-auto text-truncate">
        <b><%= t("climbingactivity.type." + climbingactivity.Type) %> <%= t("climbingactivity.near") %>  <%= climbingactivity.Location %></b>
        <p class="text-muted small text-truncate"><%= climbingactivity.Date %></p>
        <p class="text-muted small text-truncate"><%= climbingactivity.Role %></p>
      </div>

    </div>
      <div class="float-right">
          <%= linkTo(climbingactivityPath({ climbingactivity_id: climbingactivity.ID }), {class: "btn btn-info", body: t("actions.view")}) %>
          <%= linkTo(editClimbingactivityPath({ climbingactivity_id: climbingactivity.ID }), {class: "btn btn-warning", body: t("actions.edit")}) %>
          <%= linkTo(climbingactivityPath({ climbingactivity_id: climbingactivity.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": t("actions.confirm"), body: t("actions.destroy")}) %>
      </div>
  </div>
</li>
