<li>
  <div class="userInfo">
    <div class="d-flex">

      <div class="flex-shrink-1">
        <div class="img_cont col col-auto ">
          <img src="<%= assetPath("images/climbing/" + climbingactivity.Type + ".svg") %>" alt="<%= t("climbingactivity.type." + climbingactivity.Type) %>" class="activity_icon_img">
        </div>
      </div>
      <div class="flex-grow-1">
        <%= if (current_user.ID.String()==climbingactivity.UserID.String()) { %>
        <a href="<%= pathFor(climbingactivityPath({ climbingactivity_id: climbingactivity.ID })) %>">
        <% } else { %>
        <a href="<%= pathFor(climbingactivityClonePath({ climbingactivity_id: climbingactivity.ID })) %>">
        <% }%>

            <%= if (climbingactivity.Type.String()!="Other") { %>
              <%= t("climbingactivity.type." + climbingactivity.Type) %>
            <% } else { %>
              <%= climbingactivity.OtherType %>
            <% } %>
            <%= t("climbingactivity.near") %>  <%= climbingactivity.Location %>

        </a>

        <%= if (current_user.ID.String()!=climbingactivity.UserID.String()) { %>
        <br /><%= t("climbingactivity.createdby") %> <%= climbingactivity.User.Name %>
        <% }%>

        <p class="text-muted small text-truncate"><%= climbingactivity.Date %></p>
        <p class="text-muted small text-truncate"><%= climbingactivity.Role %></p>
      </div>


      <div class="flex-shrink-1 d-none d-md-block">
        <%= for (user) in (firstUsers(6, climbingactivity.Participants)) { %>
          <%= partial("users/profile_image_mini.html") %>
        <% } %>
        <p class="text-muted small text-truncate d-inline">
          <%= if (len(climbingactivity.Participants) > 6) { %> <%= t("and") %> <%= (len(climbingactivity.Participants) - 6) %> <%= t("more") %> <% } %>
        </p>
      </div>

    </div>
    <div class="d-md-none user-img-thumbnail-mini-container">
      <%= for (user) in (firstUsers(6, climbingactivity.Participants)) { %>
        <%= partial("users/profile_image_mini.html") %>
      <% } %>
      <p class="text-muted small text-truncate d-inline">
        <%= if (len(climbingactivity.Participants) > 6) { %> <%= t("and") %> <%= (len(climbingactivity.Participants) - 6) %> <%= t("more") %> <% } %>

      </p>
    </div>

  </div>
</li>
