<%= f.InputTag("Date", {type:"date", label:t("climbingactivity.date")}) %>

<div id="activity-form-map" data-lat="<%= climbingactivity.Lat %>" data-lng="<%= climbingactivity.Lng %>"></div>

<%= f.InputTag("Lat", {type:"hidden"}) %>
<%= f.InputTag("Lng", {type:"hidden"}) %>

<%= f.SelectTag("Type", {"label": "Type", options: climbingtypes, value: climbingactivity.Type,"required":nil, label:t("climbingactivity.type")}) %>

<%= f.InputTag("OtherType", {label:t("climbingactivity.othertype")}) %>

<%= f.InputTag("Role", {label:t("climbingactivity.role"), placeholder:t("climbingactivity.role.example")}) %>
<%= f.TextAreaTag("Comment", {rows: 10, label:t("climbingactivity.comment")}) %>

<label><%= t("climbingactivity.participants") %></label>
<select id="participant-select" name="participants" class="form-control" multiple="multiple">
    <%= for (participant) in users { %>
    <option value="<%= participant.ID %>" <%= selected(participant.ID, climbingactivity.Participants) %> ><%= participant.Name %></option>
    <% } %>
</select>
<br />
<button class="btn btn-success" role="submit">Save</button>
