<%= f.InputTag("Date", {type:"date", label:t("climbingactivity.date")}) %>

<div id="activity-form-map" data-lat="<%= climbingactivity.Lat %>" data-lng="<%= climbingactivity.Lng %>"></div>

<%= f.InputTag("Lat", {type:"hidden"}) %>
<%= f.InputTag("Lng", {type:"hidden"}) %>

<%= f.SelectTag("Type", {"label": "Type", options: climbingtypes, value: climbingactivity.Type,"required":nil, label:t("climbingactivity.type")}) %>

<%= f.InputTag("OtherType", {label:t("climbingactivity.othertype")}) %>

<%= f.InputTag("Role", {label:t("climbingactivity.role")}) %>
<%= f.TextAreaTag("Comment", {rows: 10, label:t("climbingactivity.comment")}) %>


<table class="table table-striped">
    <thead>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th width="85%"></th>
    </thead>
    <tbody>
        <tr><td colspan=3><b><%= t("climbingactivity.participants") %></b></td></tr>
        <%= for (participant) in users { %>
        <tr>
            <td colspan=3>
                <span class="custom-control custom-checkbox checkbox-lg">
                    <input type="checkbox" class="custom-control-input" name="participants" id="<%= participant.ID %>"  value="<%= participant.ID %>" <%= checkboxChecked(participant.ID, climbingactivity.Participants) %> >
                    <label class="custom-control-label" for="<%= participant.ID %>" >
                        <%= participant.Name %>
                    </label>
                </span>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>

<button class="btn btn-success" role="submit">Save</button>
