{{define "climbingactivities/card"}}
<li>
  <div class="userInfo">
    <div class="d-flex">

      <div class="flex-shrink-1">
        <div class="img_cont col col-auto ">
          <img src="images/climbing/{{.Type}}.svg" alt="{{.Type}}" class="activity_icon_img">
        </div>
      </div>
      <div class="flex-grow-1">
        {{ if current_user.ID.String() == .UserID.String() }}
        <a href="/activities/{{ .ID }">
        {{ else }}
        <a href="/activities/clone/{{ .ID }"></a>
        {{end}}

        {{ if .Type.String()!="Other" }}
          {{ .Type }}
        {{ else }}
          {{ .OtherType }}
        {{end}}
        nær {{ .Location }}

        {{ if .USER.ID != .UserID }}
        <br />.createdby {{ .User.Name }}
        {{end}}

        <p class="text-muted small text-truncate">{{ .Date }}</p>
        <p class="text-muted small text-truncate">{{ .Role }}</p>
      </div>


      <div class="flex-shrink-1 d-none d-md-block">
        {{ for (firstUsers(6, .Participants)) }}
          {{ template "users/profile_image_mini" . }}
        {{end}}
        <p class="text-muted small text-truncate d-inline">
          {{ if len(.Participants) > 6 and len(.Participants) - 6 }} more {{end}}
        </p>
      </div>

    </div>
    <div class="d-md-none user-img-thumbnail-mini-container">
      {{ for (firstUsers(6, .Participants)) }}
        {{ template "users/profile_image_mini" . }}
      {{end}}
      <p class="text-muted small text-truncate d-inline">
        {{ if len(.Participants) > 6 and len(.Participants) - 6 }} more {{end}}
      </p>
    </div>

  </div>
</li>

{{end}}