<div class="py-4 mb-2">
  <h3 class="d-inline-block">Klatre Logninger</h3>
  <div class="float-right">
    <%= linkTo(newClimbingactivitiesPath(), {class: "btn btn-primary"}) { %>
      <i class="fas fa-clipboard-check"></i>&nbsp; Log ny klatretur
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th></th>
    <th>Date</th>
    <th>Location</th>
    <th>Type</th>
    <th>Role</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (climbingactivity) in climbingactivities { %>
      <tr>
        <td><img src="/assets/images/climbing/<%= climbingactivity.Type %>.svg"  class="activity_icon_img"></td>
        <td class="align-middle"><%= climbingactivity.Date %></td>
        <td class="align-middle"><%= climbingactivity.Location %></td>
        <td class="align-middle">
        <%= climbingactivity.Type %>
        <%= if (climbingactivity.Type.String()=="Other") { %>
          - <%= climbingactivity.OtherType %>
        <% } %>
        
        </td>
        <td class="align-middle"><%= climbingactivity.Role %></td>
        <td>
          <div class="float-right">
            <%= linkTo(climbingactivityPath({ climbingactivity_id: climbingactivity.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editClimbingactivityPath({ climbingactivity_id: climbingactivity.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(climbingactivityPath({ climbingactivity_id: climbingactivity.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
