<!-- Large devices -->
<div class="d-none d-lg-block">
  <div class="py-4 mb-2">
    <img src="<%= assetPath("images/climbing/" + climbingactivity.Type + ".svg") %>" class="activity_icon_img">
    <h3 class="d-inline-block">
      <%= if (climbingactivity.Type.String()!="Other") { %>
        <%= t("climbingactivity.type." + climbingactivity.Type) %>
      <% } else { %>
        <%= climbingactivity.OtherType %>
      <% } %>
      <%= t("climbingactivity.near") %>  <%= climbingactivity.Location %></h3>
      <h4 class="d-inline-block">- <%= climbingactivity.Role %></h4>
  </div>
</div>


<!-- Small devices -->
<div class="d-lg-none">
  <div class="py-4 mb-2">
    <img src="<%= assetPath("images/climbing/" + climbingactivity.Type + ".svg") %>" class="activity_icon_img">
    <h3 class="d-inline-block">
      <%= if (climbingactivity.Type.String()!="Other") { %>
        <%= t("climbingactivity.type." + climbingactivity.Type) %>
      <% } else { %>
        <%= climbingactivity.OtherType %>
      <% } %>

      </h3>
      <br>
      <h4 class="d-inline-block"><%= t("climbingactivity.near") %> <%= climbingactivity.Location %></h4>
      <h5 class="d-inline-block">- <%= climbingactivity.Role %></h5>
  </div>
</div>


<!-- END Header -->

<div class="container pb-2">
  <div class="row">
    <%= linkTo(climbingactivitiesPath(), {class: "btn btn-info"}) { %>
      <%= t("climbingactivity.actions.back") %>
    <% } %>
    <%= linkTo(editClimbingactivityPath({ climbingactivity_id: climbingactivity.ID }), {class: "btn btn-warning", body: t("actions.edit")}) %>
    <%= linkTo(climbingactivityPath({ climbingactivity_id: climbingactivity.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": t("actions.confirm"), body: t("actions.destroy")}) %>
  </div>
</div>


<ul class="list-group mb-2 ">

  <li class="list-group-item pb-1">
    <label class="d-block"><%= t("climbingactivity.date") %></label>
    <hr/>
    <p class="d-inline-block"><%= climbingactivity.Date %></p>
  </li>

  <li class="">
    <div id="activity-show-map" data-lat="<%= climbingactivity.Lat %>" data-lng="<%= climbingactivity.Lng %>"></div>
  </li>

  <li class="list-group-item pb-1">
    <label class="d-block"><%= t("climbingactivity.comment") %></label>
    <hr/>
    <p class="d-inline-block"><%= climbingactivity.Comment %></p>
  </li>

  <li class="list-group-item pb-1">
    <label class="d-block"><%= t("climbingactivity.participants") %></label>
    <hr/>
    <div class="card-body contacts_body">
      <ul class="contacts">
        <%= for (user) in climbingactivity.Participants { %>
          <%= partial("users/new_card.html") %>
        <% } %>
      </ul>
    </div>
  </li>

</ul>
