{{ $userID := .USER.ID }}

<div class="py-4 mb-2 d-flex justify-content-between">
  <div>
    <h3 class="d-inline-block">Afventende Logninger</h3>
  </div>
  <div>
    <a href="/activities/create" class="btn btn-primary">
      <i class="fas fa-clipboard-check"></i>&nbsp; Log ny klatretur
    </a>
  </div>
</div>
<p>Her finder du alle aktiviteter oprettet af andre brugere, med dig som deltager. Men som du ikke selv har oprettet endnu.</p>

{{ if eq (len .ClimbingActivities) 0 }}
<div class="d-flex flex-wrap-reverse justify-content-center">
  <div class="p-2 align-self-center">
  <p>
    Du har ikke nogen klatre afventende logninger endnu.
    Opret selv en logning med at trykke på
    <a href="/activities/create" class="btn btn-primary">
      <i class="fas fa-clipboard-check"></i>&nbsp; Log ny klatretur
    </a>
  </p>

  </div>
  <div class="p-2 ">
  <img src="/images/arrow.svg">
  </div>
</div>
{{end}}


<div class="card-body contacts_body">
  <ul class="contacts">
    {{ range .ClimbingActivities }}
       {{ template "climbingactivities/card" (ctxActivity $userID .) }}
    {{end}}
  </ul>
</div>
