{{ if not .LoggedIn }}
<div class="container">
    {{template "home/landing/hero" .}}
    {{template "home/landing/features" .}}
    {{template "home/landing/key-features" .}}
    {{template "home/landing/categories" .}}
    {{template "home/landing/cta" .}}
</div>
{{ else }}
<div class="py-4 mb-2 d-flex justify-content-between">
    <div>
        <h1 class="d-inline-block">Velkommen</h1>
    </div>
    <div>
        <a href="/activities/create" class="btn btn-primary">
            <i class="fas fa-clipboard-check"></i>&nbsp; Log ny aktivitet
        </a>
    </div>
</div>
{{ template "users/show" .USER }}
<div class="row">
    <div class="col">
        <div id="user-show-map"></div>
    </div>
</div>
{{ end }}

