.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}
.container {
    align-content: center;
}
.contacts {
    list-style: none;
    padding: 0;
}
.contacts li {
    width: 100% !important;
    padding: 2px;
    margin-bottom: 15px !important;
}

.user_img {
    height: $list-image-size;
    width: $list-image-size;
    border: 2px solid #333333;
}

.img_cont {
    position: relative;
}

@media (max-width: $small) {

    .user_img {
        height: $list-image-size-small;
        width: $list-image-size-small;
        border: 2px solid #333333;
    }
    .img_cont {
        position: relative;
    }
}

div.userInfo {
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;
    background: #f3f3f3f3;
    border-radius: 255px 5px 225px 5px/25px 225px 25px 255px;
    margin: 0;
}

div.userInfo .user_cont{
    display: inline-block;
    float: none !important;
}


div.userInfo span {
    font-size: 20px;
}

div.userInfo p {
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.6);
}
