.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}
.container {
    align-content: center;
}
.contacts {
    list-style: none;
    padding: 0;
}
.contacts li {
    width: 100% !important;
    min-height: 124px !important;
    padding: 10px;
    margin-bottom: 15px !important;
    background-color: rgba(0, 0, 0, 0.04);;
    border-radius: 5px;
}

.user_img {
    height: $list-image-size;
    width: $list-image-size;
    border: 2px solid #333333;
}

.img_cont {
    position: relative;
    height: $list-image-size;
    width: $list-image-size;
    margin-right: 15px;
}

@media (max-width: $small) {

    .user_img {
        height: $list-image-size-small;
        width: $list-image-size-small;
        border: 2px solid #333333;
    }
    .img_cont {
        position: relative;
        height: $list-image-size-small;
        width: $list-image-size-small;
        margin-right: 10px;
    }
}

div.row.userInfo {
    overflow-x: auto;
    white-space: nowrap;
}

div.row.userInfo .user_cont{
    display: inline-block;
    float: none !important;
}

.user_info span {
    font-size: 20px;
}
.user_info p {
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.6);
}
