// https://bootswatch.com/sketchy/
@import "variables";
@import "bootswatch";

@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~leaflet/dist/leaflet.css";
@import "~leaflet-easybutton/src/easy-button.css";
@import "~flag-icon-css/css/flag-icon.css";


$input-border-radius: 0px;
@import "~select2/dist/css/select2.css";
@import "~@ttskch/select2-bootstrap4-theme/src/layout.scss";


// Screen sizes
$small: 575px;
$medium: 900px;

// Image sizes
$profile-image-size: 250px;
$profile-image-size-mini: 40px;
$list-image-size: 90px;
$list-image-size-small: 50px;

@import "buffalo";
@import "facebook";
@import "profile";
@import "card";

#activity-show-map, #activity-form-map {
    height: 250px;
}

.activity_icon_img {
    height: $list-image-size;
    width: $list-image-size;
}

@media (max-width: $small) {
    .activity_icon_img {
        margin-left: -10px;
        height: $list-image-size-small;
        width: $list-image-size-small;
    }
}

body {
    padding-bottom: 50px;
}