
<div class="container">
  <div class="row">
    <div class="col">
      <div class="auth-center">
        <%= if (current_user) { %>
          
        <% } else { %>
          <div class="login-form">
              <form action="/signin" method="post">
              <input name="authenticity_token" value="<%= authenticity_token %>" type="hidden"/>
              <h2 class="text-center">Sign in</h2>
                <div class="form-group">
                  <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="fa fa-user"></span>
                            </span>
                        </div>
                        <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                    </div>
                </div>
            <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary login-btn btn-block">Sign in</button>
                </div>
                <div class="clearfix">
                    <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
                    <a href="#" class="float-right">Forgot Password?</a>
                </div>
            <div class="or-seperator"><i>or</i></div>
                  <h2 class="text-center">Log ind</h2>
                  <div class="text-center social-btn">
                      <a href="/auth/facebook" class="btn btn-secondary"><i class="fab fa-facebook"></i>&nbsp; Facebook</a>
                  </div>
              </form>
          </div>
        <% } %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="subtitle">
        <div class="container">
          <h1><%= t("title") %></h1>
        </div>
      </div>
        <%= if (current_user) { %>
          <%= partial("users/current.html") %>
        <% } %>
    </div>
  </div>
</div>
