    <h1>Opret bruger</h1>
	<p>For at kunne benytte logbogen skal du have en bruger.</p>
	<form method="POST" action="/auth/signup" class="form-signin">
		<fieldset>

		<div>
			<label for="name" class="form-label mt-4">Name:</label>
			<input type="text" class="form-control" id="name" name="name" placeholder="John Doe" required>
		</div>

		<div>
			<label for="email" class="form-label mt-4">Email:</label>
			<input type="text" class="form-control" id="email" name="email" required>
		</div>
	
		<div>
			<label for="password" class="form-label mt-4">Password:</label>
			<input type="password" class="form-control" id="password" name="password" required>
		</div>
		
		<input type="hidden" id="csrf" name="csrf" value="{{ .csrf }}">
		{{ if .error }}
		<div class="alert alert-danger" role="alert">
			{{ .error }}
		</div>
		{{ end }}
		{{ if .info }}
		<div class="alert alert-success" role="alert">
			{{ .info }}
		</div>
		{{ end }}

		<div>
			<br/>
			<button type="submit" class="btn btn-primary">Opret</button>
		</div>
		</fieldset>
	</form>