<%= if (current_user.ID.String() == user.ID.String() && current_user.Provider == "localuser") { %>

  <div class="user-img-thumbnail ">
    <%= if (image(user.Image)) { %>
      <a href="<%= pathFor(editUsersImagePath({ users_image_id: user.Image.ID })) %>" >
        <span class="user-img-thumbnail-container">
          <img src="<%= pathFor(usersImagePath({ users_image_id: user.Image.ID })) %>" class="rounded-circle">
          <span class="user-img-thumbnail-button">Upload</span>
        </span>
      </a>
    <% } else { %>
      <a href="<%= pathFor(newUsersImagesPath()) %>">
        <span class="user-img-thumbnail-container">
          <img src="/assets/images/empty-avatar.png" class="rounded-circle">
          <span class="user-img-thumbnail-button">Upload</span>
        </span>
      </a>
    <% } %>
  </div>

<% } else { %>

  <div class="user-img-thumbnail">
    <span class="user-img-thumbnail-container">
    <%= if (image(user.Image)) { %>
      <img src="<%= pathFor(usersImagePath({ users_image_id: user.Image.ID })) %>" class="rounded-circle">
    <% } else { %>
      <img src="/assets/images/empty-avatar.png" class="rounded-circle">
    <% } %>
    </span>
  </div>
<% } %>
