<div class="d-md-none">

  <div class="card-body">
    <center class="m-t-30">
      <%= partial("users/profile_image.html") %>
      <h1 class="card-title m-t-10"><%= user.Name %></h1>
    </center>
  </div>

  <div class="card-body">
    
  </div>
</div>

<div class="d-none d-md-block">
  <div class="page-header">
    <h1><%= user.Name %></h1>
  </div>

  <div class="row">
    <div class="col-auto">
        <%= partial("users/profile_image.html") %>
    </div>
    <div class="col-sm-4">
        
    </div>

    <div class="col-auto">
      
    </div>
  </div>
</div>
